war/widgets/schemas/TimespaceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="points">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="point">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="lat" type="xsd:decimal" />
              <xsd:element name="long" type="xsd:decimal" />
            </xsd:sequence>
            <xsd:attribute name="time" type="xsd:decimal" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>