test/soapproxy/application/schema/helloTest.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost/webservice/soap/soap.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="MyClass" targetNamespace="http://localhost/webservice/soap/soap.php">
  <types>
    <xsd:schema targetNamespace="http://localhost/webservice/soap/soap.php" xmlns:tns="http://localhost/webservice/soap/soap.php">
      <xsd:element name="names" type="tns:ArrayOfString"/>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element name="items" type="tns:ItemType" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element name="itemName" type="xsd:string" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" sawsdl:modelReference="http://ws.soatrader.com/ontology/BaseOntology.owl#Name"/>
          <xsd:element name="itemValue" type="xsd:string" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" sawsdl:modelReference="http://ws.soatrader.com/ontology/BaseOntology.owl#Value"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <portType name="MyClassPort">
    <operation name="sayHello">
      <documentation>This method takes name and returns greeting.&#xD;

        @param string $name&#xD;
        @return string
      </documentation>
      <input message="tns:sayHelloIn"/>
      <output message="tns:sayHelloOut"/>
    </operation>
    <operation name="sayHelloToAll">
      <documentation>This method takes an array of names and greets them all</documentation>
      <input message="tns:sayHelloToAllIn"/>
      <output message="tns:sayHelloToAllOut"/>
    </operation>
  </portType>
  <binding name="MyClassBinding" type="tns:MyClassPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sayHello">
      <soap:operation soapAction="http://localhost/webservice/soap/soap.php#sayHello"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/webservice/soap/soap.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/webservice/soap/soap.php"/>
      </output>
    </operation>
    <operation name="sayHelloToAll">
      <soap:operation soapAction="http://localhost/webservice/soap/soap.php#sayHelloToAll"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/webservice/soap/soap.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/webservice/soap/soap.php"/>
      </output>
    </operation>
  </binding>
  <service name="MyClassService">
    <port name="MyClassPort" binding="tns:MyClassBinding">
      <soap:address location="http://localhost/webservice/soap/soap.php"/>
    </port>
  </service>
  <message name="sayHelloIn">
    <part name="name" type="xsd:string" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" sawsdl:modelReference="http://ws.soatrader.com/ontology/BaseOntology.owl#Name"/>
  </message>
  <message name="sayHelloOut">
    <part name="return" type="xsd:string" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" sawsdl:modelReference="http://ws.soatrader.com/ontology/BaseOntology.owl#Phrase"/>
  </message>
  <message name="sayHelloToAllIn">
    <part name="names" element="tns:names"/>
  </message>
  <message name="sayHelloToAllOut">
    <part name="return" type="xsd:string" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" sawsdl:modelReference="http://ws.soatrader.com/ontology/BaseOntology.owl#Phrase"/>
  </message>
</definitions>